// DO NOT DELETE THIS FILE OR ANY VARIABLES

// Colors
// =============================================================================
$white: #fff;
$black: #000;
$purple: rgb(162, 147, 248);

// Selection
$selection-text-color: $white;
$selection-background-color: $purple;

// Typography
// =============================================================================
$font-size: 16px;
$line-height: 24px / $font-size;
$body-font-family: 'Josefin Sans', sans-serif;
