html {
	color: #333;
	background-color: #fafafa;
	font-family: $body-font-family;
	line-height: $line-height;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: $selection-background-color;
	color: $selection-text-color;
	text-shadow: none;
}
